extends layout

block content
  h1 #{title}: #{genre.name}
  
  if genre_books.length
  
    p #[strong 删除种类之前需要首先删除下列书籍.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 书籍列表
    
      dl
      each book in genre_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 确定删除此种类？
    
    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') 删除